@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <div class="indexdiv">
        <div>

            <h2>Welcome to my Website</h2>
            <p>I created this page to showcase my NFT collection.</p>
            <p>I am really proud of them and very happy to be a part of their communities!</p>
            <p>Click on the NFTs tab to enjoy my collection :)</p>
        </div>
    </div>
</div>
